@import '../../scss/color';

#project {

  a:hover {
    color: color(primary);
  }

  .client {
    display: flex;
    height: max-content;

    img {
      display: none;

      @include mq('tablet') {
        display: grid;
        background: color(surface, dark);
        padding: 1.5rem;
        object-fit: cover;
        object-position: top;
        width: 30%;
        max-width: 24rem;
      }
    }
    .info {
      background: color(surface, dark);
      padding: 1.5rem;
      flex: 1 1 auto;

      h3, h4 {
        color: color(background, on, 0.95);
        margin-bottom: 1rem;
        line-height: 1.2;
      }

      h3 {
        font-size: 1.5rem;
      } h4 {
        font-size: 1rem;
      }
      .metadata {
        display: grid;
        font-size: 1rem;
        margin-bottom: 1rem;

        svg {
          margin-right: 0.5rem;
        }
      }
      p {
        font-size: .875rem;
        margin-bottom: 1.5rem;
      }
      li {
        font-size: .875rem;
        margin-bottom: .5rem;
      }
    }
  }

  .project-sections {

    .project-section {
      margin-bottom: 3rem;
    }
  }
}