@import '../../scss/style.scss';

#about {
  box-sizing: border-box;
  margin: 0 0 0 280px;
  //padding: 3rem;
  width: auto;

  display: grid;
  grid-template-rows: min-content;
  justify-content: center;
  //grid-gap: 3rem;

  section {
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-color: rgba(255,255,255,0.08);

    padding: 3rem;
  }
}