@import '../../../../scss/style.scss';

header {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 280px;
  overflow-y: auto;

  background: color(surface);
  color: color(surface, on);

  box-sizing: border-box;
  padding: 1rem;

  display: grid;
  grid-gap: 1rem;
  grid-template-rows: repeat(5, min-content) auto;

  .profile {
    display: grid;
    justify-content: center;
    grid-gap: 1rem;

    h1 {
      justify-self: center;
    }

    img {
      justify-self: center;
      width: 50%;
      border-radius: 50%;
    }

    p {
      font-size: 0.875rem;
      text-align: center;
    }
  }

  .navbar {
    display: grid;
    justify-content: center;
    grid-gap: 1rem;

    a {
      font-weight: bold;
      color: color(surface, on, 0.7);
      
      svg {
        margin-right: 0.5rem;
      }
    } a:hover {
      color: color(surface, on);
    }
  }

  .copyright {
    text-align: center;
    font-weight: bold;
    align-self: flex-end;
    color: color(surface, on, 0.7);
  }

  hr {
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-color: rgba(255,255,255,0.08);
    height: 0;
  }
}