@import '../scss/style';

header {
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-end;

  //background-color: map-get($palette, background-secondary);
  color: contrast(dark); 
  text-decoration: none;
  padding: 1rem 1rem 0 1rem;
  font-family: Roboto Mono;
  font-size: 1.75rem;

  // not sure about this \/ \/ \/
  border-bottom: 4px solid color(secondary);
  //border-bottom: 1px solid map-get($palette, background-primary);
  /*
  border-width: 3px 3px 0 3px;//0 1px 1px 1px;
  border-style: solid;
  border-color: map-get($palette, background-primary);*/

  a:hover {
    color: white;
  }

  .logo {
    font-family: Roboto Mono;
    font-size: 2rem;
    padding: 0 6px 0 6px;
    text-shadow: rgba(0, 0, 0, 0.7) 0em 0.05em 0.1em;

    h1 {
      font-family: Roboto Mono;
      font-size: 2rem;
    }
  } .logo:hover {
    color: white;
    //transform: scale(1.025);
  }

  span {
    margin: 0 1.25rem 0 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  div {
    display: flex;

    a {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-right: 1.5rem;
      text-shadow: rgba(0, 0, 0, 0.7) 0em 0.05em 0.1em;
      span {
        margin: 0;
      }
    }
  }

  #social-links {
    margin-right: 1.5rem;
    a {
      margin-left: 0.2rem;
    } a:hover {
      transform: scale(1.01);
    }
  }
}