@import '../../../scss/color';

#social-links {
  display: grid;
  justify-content: space-evenly;
  align-content: center;

  a {
    grid-row: 1;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: color(primary, dark);
    transition: all 0.1s ease-in-out;

    span {
      display: flex;
      justify-content: center;
      margin-top: 25%;

      svg {
        color: color(primary, on) !important;
        width: 50%;
        height: 50%;
      }
    }
  } a:hover {
    color: color(background);
  }
}