@import '../scss/base';

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: map-get($palette, background-quaternary);
  color: white; 
  text-decoration: none;
  padding: 13.5px;
  font-family: Roboto Mono;
  font-size: 1.75rem;

  // not sure about this \/ \/ \/
  border-bottom: 1px solid map-get($palette, background-primary);

  div {
    display: flex;

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 1.5rem;
      span {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  #social-links {
    margin-right: 1.5rem;
    a:hover {
      transform: scale(1.1);
    }
  }
}