@import '../../scss/color';
  
.projects {
  justify-content: center;

  .title {
    display: grid;
    margin: auto;
    justify-content: center;

    h2 {
      color: color(background, on, 0.95);
      font-size: 2rem;
      margin-bottom: 0.5rem;
      line-height: 1.2;
      text-align: center;
    }
    p {
      margin-bottom: 1rem;
      white-space: nowrap;
      color: color(background, on, 0.7);
    }
  }

}