//_base.scss
@import 'color';

@mixin font-face($name, $path) {
  @font-face {
    font-family: $name;
    src: url($path);
  }
}

@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@import url(https://fonts.googleapis.com/css?family=Lobster);
$font-stack: Roboto, sans-serif;

a, a:hover {
  text-decoration: none;
  color: inherit;
} a:hover {
  color: map-get($palette, text-title)
}

html,
body,
#root {
  font: 100% $font-stack;
  color: contrast();
  //background-color: map-get($color_scheme, 3);
  //background: linear-gradient(0.25turn, map-get($color_scheme, 3), map-get($color_scheme, 4), map-get($color_scheme, 3));
  background: color(background, dark);
  //background: radial-gradient(map-get($palette, background-primary), map-get($palette, background-tertiary));
  height: 100%;
}

* {
  margin: 0;
}