//_base.scss

@mixin font-face($name, $path) {
  @font-face {
    font-family: $name;
    src: url($path);
  }
}

@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@import url(https://fonts.googleapis.com/css?family=Lobster);
$font-stack: Roboto, sans-serif;

$palette: (
  background-primary: #424242,//#36393f,
  background-secondary: #303030,//#2f3136,
  background-tertiary: #212121,//#202225,
  background-quaternary: #000000,
  text-normal: #333333,
  text-middle: #575757,
  text-muted: #888888,
  text-title: #4d89ff
);

a, a:hover {
  text-decoration: none;
  color: inherit;
} a:hover {
  color: map-get($palette, text-title)
}

html,
body,
#root {
  font: 100% $font-stack;
  color: map-get($palette, text-normal);
  //background-color: map-get($palette, background-tertiary);
  background: radial-gradient(map-get($palette, background-primary), map-get($palette, background-tertiary));
  height: 100%;
  //margin: 0;
}

* {
  margin: 0;
}