
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

$headline1: (
  font-family: Roboto,
  font-size: 96
);
$headline2: (
  font-family: Roboto,
  font-size: 60
);
$headline3: (
  font-family: Roboto,
  font-size: 48
);
$headline4: (
  font-family: Roboto,
  font-size: 34
);
$headline5: (
  font-family: Roboto,
  font-size: 24
);
$headline6: (
  font-family: Roboto,
  font-size: 20
);
$body1: (
  font-family: Roboto,
  font-size: 16
);
$body2: (
  font-family: Roboto,
  font-size: 14
);
$subtitle1: (
  font-family: Roboto,
  font-size: 16
);
$subtitle2: (
  font-family: Roboto,
  font-size: 14
);
$button: (
  font-family: Roboto,
  font-size: 14
);
$overline: (
  font-family: Roboto,
  font-size: 10
);
$caption: (
  font-family: Roboto,
  font-size: 12
);