//style.scss
@import 'base';
@import 'color';

#root {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

main {
  width: 70%;
  margin: 0 auto 0 auto;
  color: white;
  background-color: map-get($color-primary, 5);
  border: 3px solid map-get($palette, background-primary);
  padding: 13.5px;
}