@import 'base';
@import 'color';

html {
  // RETURN TO FIX THIS ISSUE
  background: color(background);
}

#root {
  display: grid;
  grid-template-rows: min-content auto;
  background: color(background);

  @include mq('tablet-wide') {
    grid-template-columns: min-content auto;
  }

  main {
    grid-row: 2;
    margin: 74px 0 0 0;
    //margin: 0 0 0 280px;
    justify-content: center;
    color: color(background, on, 0.7);

    @include mq('tablet-wide') {
      grid-column: 2;
      margin: 0 0 0 280px;
    }
  
    .section {
      border-bottom: 1px solid color(background, on, 0.08);
      padding: 1rem;
      margin: auto;

      @include mq('tablet-wide') {
        padding: 3rem;
      }
  
      @media (min-width: 576px) {
        max-width: 540px;
      }
      @media (min-width: 768px) {
        max-width: 720px;
      }
      @media (min-width: 992px) {
        max-width: 960px;
      }
      @media (min-width: 1200px) {
        max-width: 1140px;
      }
    }

    .title-section {
      @extend .section;
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;
      //background: color(surface, dark);
      background: repeating-linear-gradient(
        to bottom,
        #151e29,
        #151e29 2px,
        darken(#151e29, 1%) 2px,
        darken(#151e29, 1%) 4px
      );
      text-align: center;

      h1 {
        color: color(background, on, 0.95);
        font-size: 2rem;
        margin-bottom: 0.5rem;
        line-height: 1.2;
      }
      p {
        margin-bottom: 1rem;
        font-size: 1.25rem;
        font-weight: 300;
        //white-space: nowrap;
      }
    }

    .card {
      border: 0;
      //border: 1px solid rgba(255,255,255,0.08);
      //background: color(surface);
      
      padding: 1rem;
      @include mq('tablet-wide') {
        padding: 3rem;
      }
  
      @media (min-width: 576px) {
        max-width: 540px;
      }
      @media (min-width: 768px) {
        max-width: 720px;
      }
      @media (min-width: 992px) {
        max-width: 960px;
      }
      @media (min-width: 1200px) {
        max-width: 1140px;
      }
    }
  }
}