@import 'base';
@import 'color';

#root {
  background: color(background);
  color: color(background, on);
}

main {
  box-sizing: border-box;
  margin: 0 0 0 280px;
  width: auto;
  justify-content: center;
}