@import '../../../scss/color';

.featured-projects {
  display: grid;
  justify-content: center;

  h2 {
    color: color(background, on, 0.95);
    font-size: 2rem;
    padding-left: 1.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
    line-height: 1.2;
    position: relative;
  } h2:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 100%;
    background: color(primary);
    position: absolute;
    left: 0;
    top: 0;
  }

  .gallery {
    padding: 0 !important;
  }

  /*
  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    //margin-right: -15px;
    //margin-left: -15px;
    color: color(background, on, 0.7);

    .project {
      position: relative;
      margin: 0 15px 3rem 15px;
      //min-width: 515px;
      flex: 1 1 calc(20% - 5px);

      .hover-mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        //border: 1px solid color(background, on, 0.05);

        a {
          background: color(primary, light);
          position: relative;
          visibility: hidden;
          margin: 5rem 0 0 2.4rem;
          width: 6rem;
        }
      } .hover-mask:hover {
        background: color(background, on, 0.05);
        transition: all 0.1s ease-in-out;
        //border: 1px solid color(background, on, 0.1);

        a {
          visibility: visible;
        }
      }

      .content {
        flex: 1 1 auto; 
        box-sizing: border-box;
        display: grid;
        
        background: color(surface, dark);
        border: 1px solid color(background, on, 0.05);

        @include mq('tablet-wide') {
          grid-template-columns: min-content auto;
          grid-template-rows: 200px;
        }
  
        img {
          @include mq('tablet-wide') {
            grid-column: 1;
          }
          box-sizing: border-box;
          padding: 0.5rem;
          background: color(surface, light, 0.2);
          border-radius: 0;
          object-fit: cover;
          object-position: top;

          width: 100%;
          min-width: 200px;
          height: 200px;
          @include mq('tablet-wide') {
            height: 200px;
            width: 200px;
          }
        }
  
        .info {
          height: 8rem;
          @include mq('tablet-wide') {
            grid-column: 2;
          }
          padding: 1.25rem;
  
          h3 {
            font-size: 1.125rem;
            margin-bottom: 0.75rem;
            line-height: 1.2;
            text-decoration: underline;
            text-decoration-color: color(background, on, 0.4);
            white-space: nowrap;
          }
          p {
            font-size: 0.875rem;
            margin-bottom: 1rem;
          }
          .links {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            a {
              margin-right: 1rem;
              span {
                display: flex;
                align-items: center;
                justify-content: space-between;
              }
            } a:hover {
              transform: scale(1.1);
            }
          }
        }
      } .content:hover {
        //background: rgba(0,0,0,0.5);
        //transition: all 0.1s ease-in-out;
      }
    }
  }*/
}